# OAuth Credentials from Twitch Developer Console
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

# These will be generated in the next steps
# Bot Access Token is not used in the code. Will only be used locally for first-time development setup.
# Refresh Token will be used throughout to authorized API to Twitch.
BOT_REFRESH_TOKEN=
BOT_ID=

# Twitch Extension Secret from Dev Console Extension for main account (not bot).
EXTENSION_SECRET=

# For testing (will be replaced with JWT data in production)
STREAMER_CHANNEL_ID=your_test_channel_id
